// COLORS
$primary-color: #2068d3;
$secondary-color: hsl(54, 73%, 41%);

$white-color: #ffffff;

$dark-grey: #333333;
$light-grey: #f0f0f0;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
